<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World of books: admin</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="header">
    <a class="logo" th:href="@{/}">World of books</a>
    <div class="header-right">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/admin}" class="active">Admin</a>
        <a th:href="@{/admin/allUsers}">All users</a>
    </div>
    </div>
        <div class="form_one">
            <h1>Hello Admin!</h1> <br>
            <i>a list of all users, with the ability to <b>view</b>, <b>delete</b> or <b>edit</b> each user</i><br>
            <a th:href="@{/admin/allUsers}">
                <button class="button1">All Users</button>
            </a>
        </div>
    </body>
</html>