<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/user}">User</a>
            <a th:href="@{/admin}">Admin</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/user/registration}">Registration</a>
        </div>
    </div>
    <div class="body">

    </div>

    <div class="books_list">
        <div th:each="book : ${books}">
            <b>Name: </b> <i th:text="${book.getName()}"></i> <br>
            <b>Author: </b> <i th:text="${book.getAuthor()}"></i> <br>
            <b>Pages: </b> <i th:text="${book.getPages()}"></i> <br>
            <b>Country: </b> <i th:text="${book.getCountry()}"></i> <br>
            <b>Description: </b> <i th:text="${book.getDescription()}"></i> <br>
            <b>Genres: </b>
            <div th:each="genre : ${book.getGenres()}">
                <i th:text="${genre.getName()}"></i>
            </div>
            <hr style="border-top: 4px dotted black"/>
        </div>
    </div>

    <div class="body">
    </div>
</body>
</html>