<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="header">
    <a class="logo" th:href="@{/}">World of books</a>
    <div class="header-right">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/user}">User</a>
        <a th:href="@{/admin}">Admin</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/user/registration}">Registration</a>
    </div>
</div>
<div class="form_one">
    <h1>Objects</h1>
    <a th:href="@{/objects/books}">
      <button class="button1">All books</button>
    </a>
    <br><br>
    <a th:href="@{/objects/genres}">
        <button class="button1">All genres</button>
    </a>
</div>
</body>
</html>