<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit user</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:method="POST" th:action="@{/user/edit}" th:object="${user}">
            <label for="username">Enter username:</label>
            <input type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <div style="color:red" th:if="${usernameErr != null}" th:text="${usernameErr}">Username error</div>
            <br/>
            <label for="email">Enter email:</label>
            <input type="text" th:field="*{email}" id="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            <br/>
            <input type="submit" value="Update!">
        </form>
    </body>
</html>