<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit user</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
<!--        <style>-->
<!--            body {-->
<!--                border-top: 6px solid #3f71f2;-->
<!--                border-bottom: 6px solid #3f71f2;-->
<!--                border-left: 6px dashed #c2d3ff;-->
<!--                border-right: 6px dashed #c2d3ff;-->
<!--                border-radius: 40px 40px 40px 40px;-->
<!--                text-align: left;-->
<!--                margin: 5% 20%;-->
<!--                padding: 30px 50px;-->
<!--                font: 300% serif;-->
<!--            }-->
<!--            .btn {-->
<!--                display: inline-block; /* Строчно-блочный элемент */-->
<!--                background: #8C959D; /* Серый цвет фона */-->
<!--                color: #fff; /* Белый цвет текста */-->
<!--                padding: 0.5rem 0.5rem; /* Поля вокруг текста */-->
<!--                text-decoration: none; /* Убираем подчёркивание */-->
<!--                border-radius: 3px; /* Скругляем уголки */-->
<!--                font: 140% serif;-->
<!--            }-->
<!--            input {-->
<!--                font: 100% serif;-->
<!--                text-align: center;-->
<!--            }-->
<!--            input[type=checkbox] {-->
<!--                transform: scale(3);-->
<!--            }-->
<!--            h1 {-->
<!--                text-align: center;-->
<!--                font: 150% serif;-->
<!--            }-->
<!--        </style>-->
    </head>
    <body>
        <h1>Edit username and email</h1>
        <form th:method="POST" th:action="@{/user/edit}" th:object="${user}">
            <label for="username">Enter username:</label>
            <input type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <div style="color:red" th:if="${usernameErr != null}" th:text="${usernameErr}">Username error</div>
            <br/>
            <label for="email">Enter email:</label>
            <input type="text" th:field="*{email}" id="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            <br/>
            <input class="btn" type="submit" value="Update!">
        </form>
    </body>
</html>