<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit password</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:method="POST" th:action="@{/user/editPassword}">
            <input type="text" th:name="oldPass" placeholder="Введіть старий пароль"/>
            <div style="color:red" th:if="${wrongOldPass != null}" th:text="${wrongOldPass}">wrong old password</div>
            <br/>
            <input type="text" th:name="newPass" placeholder="Введіть новий рароль">
            <div style="color:red" th:if="${wrongNewPass != null}" th:text="${wrongNewPass}">wrong new password</div>
            <br/>
            <input type="submit" value="Update!">
        </form>
    </body>
</html>