<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>World of books: registration</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/books}">Books</a>
            <a th:href="@{/user}">User</a>
            <a th:href="@{/editor}">Editor</a>
            <a th:href="@{/admin}">Admin</a>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
                </span>
            <span sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/user/registration}" class="active">Registration</a>
            </span>
        </div>
    </div>
    <div class="form_one">
        <h1>Registration</h1>
        <form th:method="POST" th:action="@{/user/registration}" th:object="${user}">
            <label for="username">Enter username: </label> <br>
            <input type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <div style="color:red" th:if="${usernameErr != null}" th:text="${usernameErr}">Username error</div>
            <br/>
            <label for="email">Enter email: </label> <br>
            <input type="text" th:field="*{email}" id="email"/>
            <div  style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            <br/>
            <label for="password">Enter password: </label> <br>
            <input type="text" th:field="*{password}" id="password"/>
            <div  style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Email error</div>
            <br/>
            <div th:unless="${user.getActivatedCode()==null}">
                <input type="hidden" th:field="*{activatedCode}"/>
                <label for="code">Code activated: </label> <br>
                <input type="text" th:name="code" id="code"/>
                <div  style="color:red" th:if="${errCode != null}" th:text="${errCode}">Code error</div>
                <br>
            </div>
            <input class="button1" type="submit" value="Create!">
        </form>
    </div>
</body>
</html>