<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/form.css}" href="../../static/css/form.css"
              rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
        <h1>Registration</h1>
        <form th:method="POST" th:action="@{/user/registration}" th:object="${user}">
            <label for="username">Enter username: </label>
            <input type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <div style="color:red" th:if="${usernameErr != null}" th:text="${usernameErr}">Username error</div>
            <br/>
            <label for="email">Enter email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            <div  style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            <br/>
            <label for="password">Enter password: </label>
            <input type="text" th:field="*{password}" id="password"/>
            <div  style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Email error</div>
            <br/>
            <div th:unless="${user.getActivatedCode()==null}">
                <input type="hidden" th:field="*{activatedCode}"/>
                <label for="code">Code activated: </label>
                <input type="text" th:name="code" id="code"/>
                <div  style="color:red" th:if="${errCode != null}" th:text="${errCode}">Code error</div>
                <br/>
            </div>
            <input class="btn" type="submit" value="Create!">
        </form>
    </body>
</html>