.button1, .button1_non_action, .button1_delete, .button1_edit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 10px;
}
.button1_non_action {
    background-color: gray;
}

.button1_delete {
    background-color: red;
}
.button1_edit {
    background-color: orange;
}

.button1:hover, .button1_delete:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}