body {
    font: 160% serif;
}

.form_one {
    border-top: 6px solid #3f71f2;
    border-bottom: 6px solid #3f71f2;
    border-left: 6px dashed #c2d3ff;
    border-right: 6px dashed #c2d3ff;
    border-radius: 40px 40px 40px 40px;
    text-align: left;
    margin: 1% 10% 1%;
    padding: 30px 50px;
    font: 150% serif;
}

.form_print {
    text-align: center;
    margin: 1% 20%;
    padding: 30px 50px;
    font: 150% serif;
}

/* array_buttons_center */
.array_buttons_center {
    width:100%;
    text-align: center;
}

.array_buttons_center * {
    display: inline-block;
}
/* array_buttons_center */

/* ul_checked */
.ul_checked li, .ul_unchecked li {
    list-style: none;
}

.ul_checked  li::before {
    content: '🗹 ';
}
.ul_unchecked  li::before {
    content: '☐ ';
}
/* ul_checked */

/*Rating*/
.rating-area {
    overflow: hidden;
    width: 210px;
    margin: 0 auto;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}
/*Rating*/

/*border*/
.border_one {
    text-align: left;
    margin: 10px 1px;
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
}
.border_one::before {
     content: '';
     border: 2px solid #353535;
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
     border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
 }
/*border*/

/*book*/
.book {
    transform-style: preserve-3d;
    position: relative;
    height: 300px;
    cursor: pointer;
    backface-visibility: visible;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .back {
    /*background: navy;*/
    font-family: cursive;
    color: lightgray;
    background: royalblue;
}

.front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.page1 {
    background: #efefef;
}

.page2 {
    background: #efefef;
}

.page3 {
    background: #f5f5f5;
}

.page4 {
    background: #f5f5f5;
}

.page5 {
    background: #fafafa;
}

.page6 {
    background: #fdfdfd;
}

.book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
}
/*book*/