body {
    font: 160% serif;
}
table {
    border-style: double;
    padding: 5px;
}
.formOne {
    border-top: 6px solid #3f71f2;
    border-bottom: 6px solid #3f71f2;
    border-left: 6px dashed #c2d3ff;
    border-right: 6px dashed #c2d3ff;
    border-radius: 40px 40px 40px 40px;
    text-align: left;
    margin: 1% 10% 1%;
    padding: 30px 50px;
    font: 100% serif;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 0.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    font: 140% serif;
}
input {
    font: 100% serif;
    text-align: center;
}
input[type=checkbox] {
    transform: scale(3);
}
h1 {
    text-align: center;
    font: 150% serif;
}

table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #000; /* Параметры рамки */
    text-align: center;
}
th {
    background: #000000; /* Цвет фона */
    color: #ffffff;  /* Цвет текста */
}
tbody tr:hover {
    background: #1b6b21; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}
td:hover {
    background-color: #04ff00;
    color: #000000;
}