<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="httpі://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link th:href="@{/css/all/body.css}" href="../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}" class="active">Home</a>
            <a th:href="@{/user}">User</a>
            <a th:href="@{/admin}">Admin</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/user/registration}">Registration</a>
        </div>
    </div>
    <div class="body">
        <h1>Main page</h1>
        <div sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name">Username</span>
            <hr>
            <a th:href="@{/user}">
                <button class="button1">User</button>
            </a>
            <a th:href="@{/logout}">
                <button class="button1">Logout</button>
            </a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            Welcome user!
            <hr>
            <a th:href="@{/user/registration}">
                <button class="button1">Registration</button>
            </a>
            <br>
            <a th:href="@{/login}">
                <button class="button1">Login</button>
            </a>
            <br>
            <a th:href="@{/objects}">
                <button class="button1">objects</button>
            </a>
        </div>
        <br>
<!--        <a th:href="@{https://github.com/Fanatic52/coursework}" title="go to the GitHub" target="_blank">-->
<!--            <img width="50" alt="go to the GitHub" src="../static/images/gitHub.png" th:src="@{images/gitHub.png}"/>-->
<!--        </a>-->
    </div>
</body>
</html>