<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="httpі://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    </head>
    <body>
        <div sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name">Username</span>
            <hr>
            <a th:href="@{/user}" th:class="btn">User</a>
            <a th:href="@{/logout}" th:class="btn">Logout</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            Welcome user!
            <hr>
            <a th:href="@{/user/registration}" th:class="btn">Registration</a>
            <a th:href="@{/login}" th:class="btn">Login</a>
        </div>
        <br>
        <a th:href="@{https://github.com/Fanatic52/coursework}" title="go to the GitHub" target="_blank">
            <img width="100" alt="go to the GitHub" src="../static/images/gitHub.png" th:src="@{images/gitHub.png}"/>
        </a>
    </body>
</html>