<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>World of books: edit book</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link th:href="@{/css/all/body.css}" href="../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/books}">Books</a>
            <a th:href="@{/user}">User</a>
            <a th:href="@{/editor}">Editor</a>
            <a th:href="@{/admin}">Admin</a>
            <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
            <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                    <a th:href="@{/user/registration}">Registration</a>
                </span>
        </div>
    </div>
    <div class="form_one">
        <h1>Book</h1>
        <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
            <div class="rating-area">
                <input type="checkbox" id="star-5" th:name="rating" th:checked="${book.getAverageScoreInt() == 5.0}" value="5">
                <label for="star-5" title="bookRating «5»"></label>
                <input type="checkbox" id="star-4" th:name="rating" th:checked="${book.getAverageScoreInt() == 4.0}" value="4">
                <label for="star-4" title="bookRating «4»"></label>
                <input type="checkbox" id="star-3" th:name="rating" th:checked="${book.getAverageScoreInt() == 3.0}" value="3">
                <label for="star-3" title="bookRating «3»"></label>
                <input type="checkbox" id="star-2" th:name="rating" th:checked="${book.getAverageScoreInt() == 2.0}" value="2">
                <label for="star-2" title="bookRating «2»"></label>
                <input type="checkbox" id="star-1" th:name="rating" th:checked="${book.getAverageScoreInt() == 1.0}" value="1">
                <label for="star-1" title="bookRating «1»"></label>
            </div>
            <div class="array_buttons_center" style="font-size:60%">
                <i th:text="${book.getAverageScoreFloat() + ' / ' + book.getBookRatings().size()}"></i> <br>
                <i th:text="'people who liked it: ' + ${book.getFavoriteUsers().size()}"></i> <br>
                <div sec:authorize="!isAuthenticated()">
                    <i style="color: red">registration is required to evaluate the book</i>
                </div>
            </div>

            <b>Name: </b> <i th:text="${book.getName()}"></i> <br>
            <b>Author: </b> <i th:text="${book.getAuthor()}"></i> <br>
            <b>Pages: </b> <i th:text="${book.getPages()}"></i> <br>
            <b>Country: </b> <i th:text="${book.getCountry()}"></i> <br>
            <b>Description: </b> <br>
            <textarea readonly th:text="${book.getDescription()}" name="description" id="description" rows="6" cols="60"></textarea> <br>
            <b>Genres: </b>
            <div th:if="${!book.getGenres().isEmpty()}">
                <ul class="ul_checked">
                    <li th:each="genre : ${book.getGenres()}">
                        <i th:text="${genre.getName()}"></i>
                    </li>
                </ul> <br>
            </div>
            <div th:unless="${!book.getGenres().isEmpty()}">
                [Don't have any genre]
            </div> <br>
            <div class="array_buttons_center">
                <div sec:authorize="isAuthenticated()">
                    <input type="checkbox" th:name="favorite" th:checked="${isFavorite}"> <i style="font-size:60%"> add it to favorite books </i> <br>
                </div> <br>
                <input class="button1" type="submit" value="Back">
            </div>
        </form>
    </div>
</body>
</html>