<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World of books: edit book</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/user}">User</a>
            <a th:href="@{/admin}">Admin</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/user/registration}">Registration</a>
        </div>
    </div>
    <div class="form_one">
        <h1>Edit journal</h1>
        <form th:method="POST" th:action="@{/editor/editJournal/{id}(id=${journal.getId()})}" th:object="${journal}">
            <label for="name">Name: </label> <br>
            <input type="text" th:field="*{name}" name="name" id="name"/> <br>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            <div style="color:red" th:if="${nameErr != null}" th:text="${nameErr}">Name error</div>

            <label for="publisher">Publisher: </label> <br>
            <input type="text" th:field="*{publisher}" name="publisher" id="publisher"/> <br>
            <div style="color:red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Publisher error</div>

            <label for="publishingTerm">Publishing term: </label> <br>
            <input type="text" th:field="*{publishingTerm}" name="publishingTerm" id="publishingTerm"/> <br>
            <div style="color:red" th:if="${#fields.hasErrors('publishingTerm') && publishingTermErr == null}" th:errors="*{publishingTerm}">Publishing term error</div>
            <div style="color:red" th:if="${publishingTermErr != null}" th:text="${publishingTermErr}">Publishing term error</div>

            <label for="country">Country: </label> <br>
            <input type="text" th:field="*{country}" name="country" id="country"/> <br>
            <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</div>

            <label for="description">Description: </label> <br>
            <textarea th:field="*{description}" name="description" id="description" rows="6" cols="60"></textarea> <br>

            Genres: <br>
            <div class="border_one" >
                <div th:each="genre : ${allGenres}">
                    <input type="checkbox" th:name="genres" th:value="${genre.getName()}" th:checked="${journal.getGenres().contains(genre)}"/>
                    <label th:text="${genre.getName()}"></label>
                </div>
            </div> <br>

            <div class="array_buttons_center">
                <input class="button1" type="submit" value="Update!">
            </div>
        </form>
    </div>
</body>
</html>