<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World of books: genres</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link th:href="@{/css/all/body.css}" href="../../static/css/all/body.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/buttons.css}" href="../../static/css/all/buttons.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/header.css}" href="../../static/css/all/header.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/all/forms.css}" href="../../static/css/all/forms.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="header">
        <a class="logo" th:href="@{/}">World of books</a>
        <div class="header-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/editor}">Editor</a>
            <a th:href="@{/editor/books}">Books</a>
            <a th:href="@{/editor/genres}" class="active">Genres</a>
        </div>
    </div>

    <form class="form_one">
        <h1>Genres</h1>
        <label> <b>Filters:</b> </label> <br>
        <label for="name">Name: </label> <br>
        <input type="text" th:value="${name}" th:name="name" id="name"/> <br>
        <hr>
        <label for="sort"> <b>Sort fields:</b> </label> <br>
        <select th:name="sort" size="1" style="font: 100% serif" id="sort">
            <option th:value="''" th:selected="${sort.equals('')}">none</option>
            <option th:value="'name up'" th:selected="${sort.equals('name up')}">name up</option>
            <option th:value="'name down'" th:selected="${sort.equals('name down')}">name down</option>
        </select>
        <hr>
        <input class="button1" type="submit" value="Search!">
    </form>

    <div class="form_print">
        <div th:each="genre : ${genres}">
            <div class="border_one">
                <b>Name: </b> <i th:text="${genre.getName()}"></i> <br><br>
                <div class="array_buttons_center">
                    <form th:method="GET" th:action="@{/editor/editGenre/{id}(id=${genre.getId()})}">
                        <input class="button1_edit" type="submit" value="Edit">
                    </form>

                    <form th:method="POST" th:action="@{/editor/genres}">
                        <input th:name="genreId" th:value="${genre.getId()}" type="hidden"/>
                        <input class="button1_delete" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма для переходу по сторінках -->
    <div class="form_one">
        current page = <b th:text="${page}"></b>
        <br>
        amount of pages = <b th:text="${maxPage}"></b>
        <br>
        <div class="array_buttons_center">
            <!--button->first (action)-->
            <form th:if="${page != 1}" th:method="GET" th:action="@{/editor/genres}">
                <input th:name="page" th:value="${page} - 1" type="hidden"/>
                <input th:name="name" th:value="${name}" type="hidden"/>
                <input th:name="sort" th:value="${sort}" type="hidden"/>
                <input class="button1" type="submit" value="First" th:disabled="${page <= 1}">
            </form>
            <!--button->first (no action)-->
            <span class="button1_non_action" th:unless="${page != 1}">First</span>
            <!--button->Back (action)-->
            <form th:if="${page != 1}" th:method="GET" th:action="@{/editor/genres}">
                <input th:name="page" th:value="${page} - 1" type="hidden"/>
                <input th:name="name" th:value="${name}" type="hidden"/>
                <input th:name="sort" th:value="${sort}" type="hidden"/>
                <input class="button1" type="submit" value="Back" th:disabled="${page <= 1}">
            </form>
            <!--button->Back (no action)-->
            <span class="button1_non_action" th:unless="${page != 1}">Back</span>
            <!--button->Forward (action)-->
            <form th:if="${page != maxPage}" th:method="GET" th:action="@{/editor/genres}">
                <input th:name="page" th:value="${page + 1}" type="hidden"/>
                <input th:name="name" th:value="${name}" type="hidden"/>
                <input th:name="sort" th:value="${sort}" type="hidden"/>
                <input class="button1" type="submit" value="Forward" th:disabled="${maxPage <= page}">
            </form>
            <!--button->Forward (no action)-->
            <span class="button1_non_action" th:unless="${page != maxPage}">Forward</span>
            <!--button->Last (action)-->
            <form th:if="${page != maxPage}" th:method="GET" th:action="@{/editor/genres}">
                <input th:name="page" th:value="${maxPage}" type="hidden"/>
                <input th:name="name" th:value="${name}" type="hidden"/>
                <input th:name="sort" th:value="${sort}" type="hidden"/>
                <input class="button1" type="submit" value="Last" th:disabled="${maxPage <= page}">
            </form>
            <!--button->Last (no action)-->
            <span class="button1_non_action" th:unless="${page != maxPage}">Last</span>
        </div>
    </div>
    <!-- Форма для переходу по сторінках -->
</body>
</html>